.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
    justify-content: space-between;
  padding: 2rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 1px solid rgba(25,26,36,0.05);
  border-bottom: 1px solid rgba(25,26,36,0.05);
}
.accordion:first-child{
  border-top: none;
}
.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .custom-arrow {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 0rem;
  word-break: break-word;
  overflow-x: auto;
    padding: 30px 0rem  30px;
    border-top: 1px solid rgba(25, 26, 36, 0.05);
}

.accordion__content img {
  max-width: 100%;
}


/* mobile */
@media screen and (max-width: 749px) {

.accordion__content {
  padding: 20px 0rem  20px;
}
.accordion summary[aria-expanded="true"]{
  padding-bottom: 10px;
}

}
